@import './mixins/mixins.scss';

.header {
  @include wid_hei(97%, 19vh);
  padding: 15px;
  border-bottom: 3px solid #000;

  &__text{
    h2 {
      font-size: 2.5vw;
    }
  }

  &__use {
    font-size: 1.5rem;
  }

  &__list {
    margin-left: 3vw;
    li {
      font-size: 1.2rem;
      font-weight: 300;
      list-style-type: square;
    }
  }
}